{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    // TODO Ругается на статику (проверить необходимость)
    "func-names": ["error", "never"]
  }
}